<div>
    <a href = "/families/<%= family.slug %>"><%= family.title %></a>

    <form
        action = "/families/<%= family._id %>/delete?_method=DELETE"
        method = "POST"
    >
        <button type = "submit">Delete</button>
    </form>
</div>