<div id = "family">
    <div id = "family-title">
        <a href = "/families/<%= family.slug %>">
            <%= family.title %>
        </a>        
    </div>

    <div id = "family-options">
        <form
            class = "family-element"
            action = "/families/<%= family._id %>/edit"
            method = "GET"
        >
            <button type = "submit" id = "family-options-edit"></button>
        </form>

        <form
            class = "family-element"
            action = "/families/<%= family._id %>/delete?_method=DELETE"
            method = "POST"
        >
            <button type = "submit" id = "family-options-delete"></button>
        </form>        
    </div>
</div>