<%- include("./partials/header.ejs", {title}) %>

<div>
    <h1><%=title%></h1>

    <div>
        <% if (flashes && flashes.success) { %>
            <div class="alert alert-success">
                <% flashes.success.forEach(function(message) { %>
                    <p><%= message %></p>
                <% }) %>
            </div>
        <% } %>
    </div>

    <a href = "/families">Families</a>
</div>

<%- include("./partials/footer.ejs"{scripts: undefined}) %>