<%- include("../partials/header.ejs", {title, styles: [
    "allFamilies.css"
]}) %>

<form
    action = "users/logout"
    method = "POST"
>
    <div id = "logout">
        <button type = "submit">Log Out</button>
    </div>
</form>

<div class = "page" id = "allFamilies-page">
    <div id = "allFamilies-page-heading">
        <h1 id = allFamilies-page-title><%= title %></h1>

        <a href = "/families/add" id = "allFamilies-page-newFamily">
            <button></button>
        </a>        
    </div>


    <% families.map(family => { %>
        <%- include("../components/listFamily.ejs", {family}) %>
    <% }) %>    
</div>

<%- include("../partials/footer.ejs", {scripts: undefined}) %>