<!--Header-->
<%- include("../partials/header.ejs", {title}) %>

<!--Body-->
    <!--Logout button-->
    <form
        action = "users/logout"
        method = "POST"
    >
        <button type = "submit">Log Out</button>
    </form>

    <!--List of familes-->
    <div>
        <!--Heading-->
        <div>
            <h1>Families</h1>

            <a href = "/families/add">Add</a>
        </div>

        <!--Body-->
        <% families.map(family => { %>
            <%- include("../components/listFamily.ejs", {family}) %>
        <% }) %>
    </div>

<!--Footer-->
<%- include("../partials/footer.ejs") %>