<%- include("../partials/header.ejs", {title, styles: ["form.css"]}) %>

<div class = "log">
    <form
        action = "<%= action %>"
        method = "POST"
    >
        <input
            type = "text"
            name = "title"
            placeholder = "Enter family title"
            value = "<%= family.title || '' %>"
        >

        <button type = "submit" class = "submit"></button>
    </form>    
</div>


<%- include("../partials/footer.ejs", {scripts: undefined}) %>