<%- include("../partials/header.ejs", {title, styles: [
    "loginRegister.css"
]}) %>

<div id = "registration-errors">
    <% if(flashes && flashes.danger) { %>
        <div class = "alert alert-danger" id = "errors-list">
            <% flashes.danger.forEach(function(message) { %>
                <p><%=message%></p>
            <% }) %>
        </div>
    <% } %>
</div>

<div class = "log" id = "log-register">
    <h1><%=title%></h1>

    <form action = "/users/register" method = "POST">
        <input 
            type = "text" 
            name = "username" 
            placeholder = "username"
        >
        <br>
        <input
            type = "password"
            name = "password"
            placeholder = "password"
        >
        <input
            type = "password"
            name = "confirm-password"
            placeholder = "confirm password"
        >

        <button type ="submit" id = "loginRegister-submit"></button>
    </form>

    <a href = "/users/login">Login</a>
</div>

<%- include("../partials/footer.ejs", {scripts: undefined}) %>